.typearea {
  position: relative;
  min-height: 300px;
  min-width: 300px;
  overflow-y: scroll;
  height: 60%;
  scroll-margin: 20px;
  font-size: 23px;
  width: 60%;
  font-weight: 300 !important;
  word-break: inherit;
  /* background-color: red; */
}

.typearea::after {
  position: absolute;
  top: 0px;
  left: 0;
  content: attr(data-descr);
  width: 99%;
  height: 100%;
  word-break: inherit;

  opacity: 0.5;
  /* font-weight: bold; */
  color: black;
}

.wrong-input {
  color: red !important;
}

.right-input {
  color: darkgreen !important;
}
.active-input {
  background-color: blue !important;
}
b {
  font-weight: 300 !important;
}
b:last-of-type {
  position: relative;
}

b:last-of-type::after {
  position: absolute;
  width: 1ch;
  height: 100%;
  top: 0;
  right: -1ch;
  content: "";
  background-color: blue;
  /* opacity: 0.4; */
  animation-name: beep;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.user-input-blind {
  position: relative;
}

.user-input-blind::after {
  position: absolute;
  height: 100%;
  width: 1ch;
  top: 0;
  left: 0;
  background-color: #fff;
}

@keyframes beep {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
